<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary" >Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let c of componentes"
    [routerLink]=c.redireccionA
    detail>

      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{c.nombre}}

    </ion-item>
  </ion-list>


  <!-- <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action-Sheet
  </ion-button> -->


</ion-content>
