<app-header titulo="alert"></app-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
       defaultHref="/"
       text="Regresar"
       color="dark"
       mode="md">
      </ion-back-button>

    </ion-buttons>


    <ion-title>alert</ion-title>

    <ion-buttons slot="end">
      <ion-back-button
       defaultHref="/"
       text="Regresar1"
       color="dark"
       mode="ios">
      </ion-back-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header> -->

<ion-content>

</ion-content>
